* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}
.container {
    margin: 0 8rem;
}
header {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    .all {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
            a {
                text-decoration: none;
                padding: 8px 0;
                font-size: 25px;
                color: #ffffff80;
                font-weight: 700;
            }
        }
        .right {
            a {
                padding: 32px 4px;
                color: #ffffff80;
                font-size: 1.2rem;
                text-decoration: none;
                margin-left: 25px;
            }
        }
    }
}
#first {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%),
        url(https://startbootstrap.github.io/startbootstrap-grayscale/assets/img/bg-masthead.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 190px 0;
    h1 {
        background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-weight: bold;
        font-size: 6.5rem;
        letter-spacing: 0.8rem;
    }
    h2 {
        font-size: 1.5rem;
        color: rgba(255, 255, 255, 0.5);
        font-weight: 300;
        margin-bottom: 40px;
    }
    a {
        background-color: #64a19d;
        font-size: 13px;
        color: #fff;
        text-decoration: none;
        padding: 20px 32px;
        user-select: none;
        border: 1px solid #64a19d;
        border-radius: 5px;
        letter-spacing: 0.15rem;
        font-weight: 600;
    }
}
#second {
    position: relative;
    overflow: hidden;
    padding: 280px 0;
    background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
    img {
        max-width: 70%;
        height: auto;
        background-size: 70px 80%;
        left: 15%;
        bottom: 0%;
        position: absolute;
    }
    .text {
        text-align: center;
        top: 13%;
        left: 25%;
        position: absolute;
        h2 {
            font-size: 2rem;
            color: #fff;
            margin-bottom: 24px;
            letter-spacing: 1px;
        }
        p {
            font-size: 1rem;
            color: #ffffff80;
            font-weight: 600;
        }
    }
}
#third {
    margin-top: 100px;
    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
            width: 65%;
            height: 100%;
            img {
                width: 100%;
            }
        }
        .right {
            padding-left: 50px;
            width: 35%;
            border-left: 10px solid #64a19d;
            h4 {
                font-size: 24px;
                margin-bottom: 8px;
                color: #212529;
                letter-spacing: 1px;
                font-weight: 800;
            }
            p {
                font-size: 1rem;
                font-weight: 400;
                color: #00000080;
            }
        }
    }
}
#fourth {
    .all {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .box {
            width: 50%;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .box:nth-child(2) {
            .text {
                padding: 150px 60px;
                background-color: #000;
                h4 {
                    font-size: 24px;
                    color: #fff;
                    margin-bottom: 8px;
                    letter-spacing: 1px;
                }
                p {
                    font-size: 15px;
                    color: #ffffff80;
                    letter-spacing: 0.5px;
                }
                hr {
                    width: 25%;
                    border: 1px solid #64a19d;
                    background-color: #64a19d;
                    height: 3px;
                    margin-top: 12px;
                }
            }
        }
        .box:nth-child(3) {
            .text {
                padding: 150px 60px;
                background-color: #000;
                text-align: right;
                h4 {
                    font-size: 24px;
                    color: #fff;
                    margin-bottom: 8px;
                    letter-spacing: 1px;
                }
                p {
                    font-size: 15px;
                    color: #ffffff80;
                    letter-spacing: 0.5px;
                }
                hr {
                    width: 25%;
                    border: 1px solid #64a19d;
                    background-color: #64a19d;
                    height: 3px;
                    margin-top: 12px;
                    margin-left: 20rem;
                }
            }
        }
    }
}
#subscribe {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000000 100%),
        url(https://startbootstrap.github.io/startbootstrap-grayscale/assets/img/bg-signup.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 80px 0;
    margin-top: 80px;
    i {
        font-size: 2em;
        color: #fff;
        margin-bottom: 15px;
    }
    h2 {
        font-size: 32px;
        color: #fff;
        margin-bottom: 48px;
        letter-spacing: 1px;
    }
    input {
        padding: 20px 32px;
        margin-right: 8px;
        outline: none;
        height: 55px;
        font-size: 80%;
        width: 40%;
        border-radius: 5px;
        border: 1px solid #fff;
    }
    button {
        padding: 20px 32px;
        background-color: #64a19d;
        font-size: 13px;
        color: #fff;
        letter-spacing: 0.15rem;
        border-radius: 5px;
        border: 1px solid #64a19d;
    }
}
#contact {
    background-color: #000;
    padding: 100px 0;
    .all {
        display: flex;
        justify-content: space-between;
        .box {
            border: 0;
            border-bottom: 0.25rem solid #64a19d;
            padding: 2.5rem 0 2.5rem;
            border-radius: 0.25rem;
            background-color: #fff;
            text-align: center;
            width: 32%;
            i {
                color: #64a19d;
                font-size: 1.2rem;
                margin-bottom: 8px;
            }
            h4 {
                font-size: 13px;
                color: #212529;
                letter-spacing: 1px;
            }
            hr {
                margin: 24px auto;
                background-color: #64a19d;
                border: 2px solid #64a19d;
                width: 50px;
                height: 1px;
            }
            small {
                font-size: 13px;
                color: #00000080;
                font-weight: 500;
            }
            a {
                font-size: 13px;
                text-decoration: none;
                color: #64a19d;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
#social{
    background-color: #000;
    padding: 80px 0;
    .all{
        display: flex;
        justify-content: center;
        .box{
            i{
                background-color: rgba(255, 255, 255, 0.1);
                color: rgba(255, 255, 255, 0.3);
                padding: 15px;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
    }
}
footer{
    background-color: #000;
    padding: 40px;
    text-align: center;
    p{
        font-size: 13px;
        color: #ffffff80;
    }
}